{% extends "base.html" %}
{% load static %}

<body>
    {% block content %}
        <form method="get" action="signin">
        <button type="submit" style="float: right; width: 10%; height: 30px; font-size: 15px">Sign In</button>
        </form>
        <form method="get" action="register">
        <button type="submit" style="float: right; width: 10%; height: 30px; font-size: 15px">Register</button>
        </form>
        <h2>
        <p style="text-align: center;">Welcome to Glam and Baby care</p>
        </h2>
<img src="{% static 'background.jpg' %}" width="2000" height="1200" style="text-align: center;">
    {% endblock %}

</body>