{% extends "base.html" %}
{% load static %}
<style>
    .container{
        width: 200%;
        margin: 100px;
        color: green;
        display: inline-block;
    }
</style>
<body>
    {% block content %}
        <form method="get" action="logout">
            <button type="submit" style="float: right; width: 10%; height: 30px; font-size: 15px">Log Out</button>
        </form>
        <table>
            <tr>
                <td><img src="{{ image }}" width="60" height="60" align="right"> <br></td>
                <td><h2>Welcome {{ username }}!</h2></td>
            </tr>
        </table>
        <hr>

    <div class=".container">
        <p></p>
        <a href="#">Hair</a><br />
        <a href="#">Make-up</a><br />
        <a href="#">Baby/Child Entertainment</a><br />
    </div>
    {% endblock %}
</body>