{% extends "base.html" %}
{% load static %}
<style>
    .container{
        width: 200%;
        margin: 100px;
        color: green;
        display: inline-block;
    }
</style>
<body>
    {% block content %}
        Did you ever imagine going out with you child and also enjoying hair and make-up services in a relaxing and professional place?
        We at Glam and Baby care offer you all these services either together or separate!
        We work with professional products and also provide educative activities for your child's entertainment
    {% endblock %}
</body>